<!DOCTYPE html>
<html>
    <head>
        <title>huex.work</title>
    </head>
    <body>
        <h1>Hello, this is <a href="http://huex.work">huex.work</a></h1>
        <p>Find me on <a href="https://github.com/georgehu716">Github</a>, <a href="https://twitter.com/_ooooooG">Twitter</a>, or contact me with email <a href="mailto:erxionghu@gmail.com">erxionghu@gmail.com</a></p>
        <h3>Blog</h3>
        <h3>Projects</h3>
        <ul>
            <li><strong>huex.work</strong> <a href="https://github.com/Georgehu716/huex.work">https://github.com/Georgehu716/huex.work</a></li>
            <p>My personal website.</p>
        </ul>
    </body>
</html>
